dma/bin/
structures/executable/
Arrays/bin/
basic/bin/
bit_wise/executable/
conditional/executables/
function/executables/
learned/bin/
operators/executables/
patterns/executables/
storage_clases/bin/
Arrays/bin/sort
 
